yoursitename {
    root ./320-django/
    proxy / 0.0.0.0:5000 {
        transparent
    }
    log stdout
    errors stdout
    gzip
}


yoursitename/static/ {
  root /static/
  log stdout
  errors stdout
  gzip
}