{% extends "base.html" %}

{% block title%} Company Detail - {{ company.name }} {% endblock %}

{% block content %}
    <h2></h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <th>Company name</th>
                    <td>{{ company.name }}</td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>{{ company.site | default:"-" }}</td>
                </tr>
                <tr>
                    <th>Description of Company</th>
                    <td>{{ company.description | default:"-" }}</td>
                </tr>

            </table>
            <div>
                <a class="btn btn-primary float-right" href="{% url 'reviews:review-new' %}">Write A Review</a>
            </div>
        </div>
    </div>

    <hr />


    <div class="row mb-3">
        <div class="col-sm-12">
            {% if company.review_set.all %}
                <h3>Reviews</h3>
                <div class="dropdown float-right">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="?sort=date">Latest</a>
                        <a class="dropdown-item" href="?sort=rating">Ratings</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for review in sorted_reviews %}
                <div class="row review-container">
                    <div class="pt-2 col-sm-4 ratings-container">
                        <div class="row">
                            <div class="col-sm-6 ratings-label">Mentorship</div>
                            <div class="col-sm-6">
                                <div class="star-rating">
                                    <div class="back-stars float-right">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>

                                        <div class="front-stars" style="width: {{ review.mentorship_rating }}%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 ratings-label">Work Life Balance</div>
                            <div class="col-sm-6">
                                <div class="star-rating">
                                    <div class="back-stars float-right">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>

                                        <div class="front-stars" style="width: {{ review.work_life_balance_rating }}%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 ratings-label">Personal Growth</div>
                            <div class="col-sm-6">
                                <div class="star-rating">
                                    <div class="back-stars float-right">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>

                                        <div class="front-stars" style="width: {{ review.personal_growth_rating }}%">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm review-body-panel">
                        <h4>{{ review.title }}</h4>
                        <p>Added on {{ review.created_at }}</p>
                        <p>{{ review.body }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
