{% extends "base.html" %}

{% block title%} Companies List {% endblock %}

{% block content %}
    <form action="">
        {{ form.company_name }}
    </form>
    <h2></h2>
    {% for company in companies %}
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'reviews:company-detail' company.pk %}">{{ company.name }}</a>
                {{ company.site | default:"-" }}
                {{ company.description | default:"-" }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
