



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.card-columns {
  column-count: 3;
}

.review-container {
  border: solid #a8a8a8 1px;
}

/* Ratings taken from https://codepen.io/Bluetidepro/pen/GkpEa https://codepen.io/filcp/pen/QvZVOg */
$stars-color: #16a085;
%flex-display {
  display: flex;
}
.star-rating {
  @extend %flex-display;
  align-items: center;
  font-size: 1.5em;
  justify-content: flex-end;
}
.back-stars {
  @extend %flex-display;
  color: $stars-color;
  position: relative;
}
.front-stars {
  @extend %flex-display;
  color: $stars-color;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.ratings-container {
  background: #ddd;
}
